/* Main Content */
.content1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.content h1,
.content .note {
  text-align: center;
  margin: 20px 0;
  font-size: 36px;
  line-height: 1.2;
  color: white;
}

/* Grid of Cards */
.grid {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.row {
  display: flex;
  gap: 15px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 300px;
  height: 300px;
  background: rgba(112, 49, 49, 0.8);
  border-radius: 15px;
  padding-bottom: 12px;
  gap: 30px;
}

.cube-face {
  width: 180px;
  height: 180px;
  background: #ff0000;
  border-radius: 15px;
}

.card span {
  text-align: center;
  color: white;
  margin-top: 8px;
  display: block;
}

#the-language-of-rotations {
  background-color: rgba(187, 59, 59, 0.9);
}