.main-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 20px;
}

.tutorial-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 20px;
  margin-top: 20px;
}
.tutorial-content:last-child {
    margin-bottom: 20px;
}
.title {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255,255,255);
  font-family: Inter, sans-serif;
  font-size: 36px;
  line-height: 36px;
  margin-bottom: 0;
}

.text {
  width: 634px;
  font-family: Inter, sans-serif;
  color: rgb(255,255,255);
  border-color: transparent;
  margin-bottom: 0;
}

.flex-row {
  display: flex;
  flex-direction: row;
  width: fit-content;
  gap: 15px;
  margin-bottom: 0;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 250px;
  background:     #393939;
  border-radius: 15px;
  padding-bottom: 12px;
}

.card *{
  margin: 0;
  font-size: 14px;
  user-select: none;

}

.card p{
  font-size: 18px;
  margin-bottom: 5px;
}


.card video{
  margin-bottom: 20px
}

.cube-face {
  width: 180px;
  height: 180px;
  border-radius: 15px;
}

.instruction {
  display: flex;
  align-items: end;
  border-radius: 15px;
  border-color: rgb(0,0,0);
  color: white;
  text-align: center;
  margin-top: 8px;
}

#the-first-side{
    background-color: rgba(187, 59, 59, 0.9);
}