

.container{
    height: 100vh;
}

.main-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: start;
  align-items: center;
    flex-direction: column;
  padding-top: 20px;
  gap: 20px;
}

.title {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255,255,255);
  font-family: Inter, sans-serif;
  font-size: 36px;
  line-height: 36px;
  margin-bottom: 0;
}

.text {
  width: 634px;
  font-family: Inter, sans-serif;
  color: rgb(255,255,255);
  border-color: transparent;
  margin-bottom: 0;
}

#the-cube-is-assembled{
    background-color: rgba(187, 59, 59, 0.9);
}