{% extends 'navbar.html' %}
{% load static %}

{% block extra_css2 %}
<link rel="stylesheet" href="{% static 'education/css/course_2x2_def_1.css' %}">
{% endblock %}
{% block container %}
    <main class="content1">
        <h1>The language of rotations</h1>

        <div class="grid">
        <!-- Row 1 -->
        <div class="row">
            <div class="card"><div class="cube-face"></div><span>R - turn the right side clockwise</span></div>
            <div class="card"><div class="cube-face"></div><span>R - turn the right side clockwise</span></div>
            <div class="card"><div class="cube-face"></div><span>R - turn the right side clockwise</span></div>
        </div>
        <!-- Row 2 -->
        <div class="row">
            <div class="card"><div class="cube-face"></div><span>R - turn the right side clockwise</span></div>
            <div class="card"><div class="cube-face"></div><span>R - turn the right side clockwise</span></div>
            <div class="card"><div class="cube-face"></div><span>R - turn the right side clockwise</span></div>
        </div>
        <!-- Row 3 -->
        <div class="row">
            <div class="card"><div class="cube-face"></div><span>R - turn the right side clockwise</span></div>
            <div class="card"><div class="cube-face"></div><span>R - turn the right side clockwise</span></div>
            <div class="card"><div class="cube-face"></div><span>R - turn the right side clockwise</span></div>
        </div>
        <!-- Row 4 -->
        <div class="row">
            <div class="card"><div class="cube-face"></div><span>R - turn the right side clockwise</span></div>
            <div class="card"><div class="cube-face"></div><span>R - turn the right side clockwise</span></div>
            <div class="card"><div class="cube-face"></div><span>R - turn the right side clockwise</span></div>
        </div>
        </div>

        <p class="note">If there is a number 2 next to the letter, it means 2 rotations.</p>
    </main>
{% endblock %}
