{% extends 'navbar.html' %}
{% load static %}

{% block extra_css2 %}
<link rel="stylesheet" href="{% static 'education/css/course_2x2_def_2.css' %}">
{% endblock %}

{% block container %}
<!-- <div style="display: flex; flex-direction: column; align-items: center; width: 100%;height: 100%;gap: 20px; margin-top: 20px">
    <p style="text-align: center; display: flex; justify-content: center; align-items: center; color: rgb(255,255,255);font-family: Inter, sans-serif;font-size: 36px;line-height: 36px;margin-bottom: 0;">The first side</p><span style="width: 634px;font-family: Inter, sans-serif;color: rgb(255,255,255);border-color: transparent;margin-bottom: 0;">First you need to assemble the first layer on either side. For convenience, we will assemble it on a white one. We find any corner with a white color on the cube. For example, white-red-green. This corner will be the base of the first layer.</span><span style="width: 634px;font-family: Inter, sans-serif;color: rgb(255,255,255);border-color: transparent;margin-bottom: 0;">First you need to assemble the first layer on either side. For convenience, we will assemble it on a white one. We find any corner with a white color on the cube. For example, white-red-green. This corner will be the base of the first layer.</span>
    <div style="display: flex; flex-direction: row; width: fit-content;gap: 15px;margin-bottom: 0;">
        <div style="display: flex; flex-direction: column; justify-content: end; align-items: center; width: 300px;height: 300px;background: rgba(112,49,49,0.8);border-radius: 15px;">
            <div style="width: 180px;height: 180px;background: #ff0000;border-radius: 15px;"></div><span  style="display: flex; align-items: end; border-radius: 15px;border-color: rgb(0,0,0);"><br />R - turn the right side clockwise<br /><br /></span>
        </div>
        <div style="display: flex; flex-direction: column; justify-content: end; align-items: center; width: 300px;height: 300px;background: rgba(112,49,49,0.8);border-radius: 15px;">
            <div style="width: 180px;height: 180px;background: #ff0000;border-radius: 15px;"></div><span  style="display: flex; align-items: end; border-radius: 15px;border-color: rgb(0,0,0);"><br />R - turn the right side clockwise<br /><br /></span>
        </div>
    </div><span style="width: 634px;font-family: Inter, sans-serif;color: rgb(255,255,255);border-color: transparent;margin-bottom: 0;">After that, we find another corner with a white color, which has a color that looks at us at the first corner. In our case, it is a white-green-orange corner. It should be placed in front of us from the top right.</span><span style="width: 634px;font-family: Inter, sans-serif;color: rgb(255,255,255);border-color: transparent;margin-bottom: 0;">We look at where the white color is directed: towards us, to the side, or upward. Depending on this, we perform one of three algorithms.</span>
    <div style="display: flex; flex-direction: row; width: fit-content;gap: 15px;">
        <div style="display: flex; flex-direction: column; justify-content: end; align-items: center; width: 300px;height: 300px;background: rgba(112,49,49,0.8);border-radius: 15px;">
            <div style="width: 180px;height: 180px;background: #ff0000;border-radius: 15px;"></div><span  style="display: flex; align-items: end; border-radius: 15px;border-color: rgb(0,0,0);"><br />R - turn the right side clockwise<br /><br /></span>
        </div>
        <div style="display: flex; flex-direction: column; justify-content: end; align-items: center; width: 300px;height: 300px;background: rgba(112,49,49,0.8);border-radius: 15px;">
            <div style="width: 180px;height: 180px;background: #ff0000;border-radius: 15px;"></div><span  style="display: flex; align-items: end; border-radius: 15px;border-color: rgb(0,0,0);"><br />R - turn the right side clockwise<br /><br /></span>
        </div>
        <div style="display: flex; flex-direction: column; justify-content: end; align-items: center; width: 300px;height: 300px;background: rgba(112,49,49,0.8);border-radius: 15px;">
            <div style="width: 180px;height: 180px;background: #ff0000;"></div><span  style="display: flex; align-items: end; border-color: rgb(0,0,0);"><br />R - turn the right side clockwise<br /><br /></span>
        </div>
    </div><span style="width: 634px;font-family: Inter, sans-serif;color: rgb(255,255,255);border-color: transparent;margin-bottom: 0;">There may be cases when the corner is already at the bottom in its own or someone else&#39;s place and is incorrectly deployed.</span>
    <div style="display: flex; flex-direction: row; width: fit-content;gap: 15px;">
        <div style="display: flex; flex-direction: column; justify-content: end; align-items: center; width: 300px;height: 300px;background: rgba(112,49,49,0.8);border-radius: 15px;">
            <div style="width: 180px;height: 180px;background: #ff0000;border-radius: 15px;"></div><span  style="display: flex; align-items: end; border-radius: 15px;border-color: rgb(0,0,0);"><br />R - turn the right side clockwise<br /><br /></span>
        </div>
        <div style="display: flex; flex-direction: column; justify-content: end; align-items: center; width: 300px;height: 300px;background: rgba(112,49,49,0.8);border-radius: 15px;">
            <div style="width: 180px;height: 180px;background: #ff0000;border-radius: 15px;"></div><span  style="display: flex; align-items: end; border-radius: 15px;border-color: rgb(0,0,0);"><br />R - turn the right side clockwise<br /><br /></span>
        </div>
        <div style="display: flex; flex-direction: column; justify-content: end; align-items: center; width: 300px;height: 300px;background: rgba(112,49,49,0.8);border-radius: 15px;">
            <div style="width: 180px;height: 180px;background: #ff0000;"></div><span  style="display: flex; align-items: end; border-color: rgb(0,0,0);"><br />R - turn the right side clockwise<br /><br /></span>
        </div>
    </div><span style="width: 634px;font-family: Inter, sans-serif;color: rgb(255,255,255);border-color: transparent;margin-bottom: 0;">After the second corner is positioned correctly, we need to intercept the cube in our hands so that this corner is at the bottom to our left. Just like the first corner used to be.</span><span style="width: 634px;font-family: Inter, sans-serif;color: rgb(255,255,255);border-color: transparent;margin-bottom: 0;">Next, we do the same thing: we find an element with a white color, which also has a color that looks at us at the bottom corner. This is a white-orange-blue corner. We put it on the top right in front of us, look at where the white color is directed, and make an algorithm.</span><span style="width: 634px;font-family: Inter, sans-serif;color: rgb(255,255,255);border-color: transparent;margin-bottom: 0;">After that, we do the same with the last corner.</span>
</div> -->

<div class="main-container">
    <div class="tutorial-content">
      <p class="title">The first side</p>

      <span class="text">First you need to assemble the first layer on either side. For convenience, we will assemble it on a white one. We find any corner with a white color on the cube. For example, white-red-green. This corner will be the base of the first layer.</span>

      <span class="text">First you need to assemble the first layer on either side. For convenience, we will assemble it on a white one. We find any corner with a white color on the cube. For example, white-red-green. This corner will be the base of the first layer.</span>

      <div class="flex-row cards-row">
        <div class="card">
          <div class="cube-face"></div>
          <span class="instruction">R - turn the right side clockwise</span>
        </div>
        <div class="card">
          <div class="cube-face"></div>
          <span class="instruction">R - turn the right side clockwise</span>
        </div>
      </div>

      <span class="text">After that, we find another corner with a white color, which has a color that looks at us at the first corner. In our case, it is a white-green-orange corner. It should be placed in front of us from the top right.</span>

      <span class="text">We look at where the white color is directed: towards us, to the side, or upward. Depending on this, we perform one of three algorithms.</span>

      <div class="flex-row cards-row">
        <div class="card">
          <div class="cube-face"></div>
          <span class="instruction">R - turn the right side clockwise</span>
        </div>
        <div class="card">
          <div class="cube-face"></div>
          <span class="instruction">R - turn the right side clockwise</span>
        </div>
        <div class="card">
          <div class="cube-face"></div>
          <span class="instruction">R - turn the right side clockwise</span>
        </div>
      </div>

      <span class="text">There may be cases when the corner is already at the bottom in its own or someone else's place and is incorrectly deployed.</span>

      <div class="flex-row cards-row">
        <div class="card">
          <div class="cube-face"></div>
          <span class="instruction">R - turn the right side clockwise</span>
        </div>
        <div class="card">
          <div class="cube-face"></div>
          <span class="instruction">R - turn the right side clockwise</span>
        </div>
        <div class="card">
          <div class="cube-face"></div>
          <span class="instruction">R - turn the right side clockwise</span>
        </div>
      </div>

      <span class="text">After the second corner is positioned correctly, we need to intercept the cube in our hands so that this corner is at the bottom to our left. Just like the first corner used to be.</span>

      <span class="text">Next, we do the same thing: we find an element with a white color, which also has a color that looks at us at the bottom corner. This is a white-orange-blue corner. We put it on the top right in front of us, look at where the white color is directed, and make an algorithm.</span>

      <span class="text">After that, we do the same with the last corner.</span>
    </div>
</div>
{% endblock %}