.timer-page {
    flex: 1;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* SCRAMBLE */
.scramble {
    margin-top: 30px;
    text-align: center;
}
.scramble-title {
    opacity: .6;
    margin-bottom: 8px;
}
#scramble-text {
    font-size: 28px;
    font-family: monospace;
}

/* TIMER */
.timer {
    margin-top: 120px;
    font-size: 120px;
    font-family: monospace;
    user-select: none;
    transition: color .2s ease;
}
.timer.idle { color: white; }
.timer.inspection { color: orange; }
.timer.ready { color: #00ff00; }
.timer.running { color: red; }

/* RIGHT PANEL */
.right-panel {
    position: absolute;
    right: 40px;
    top: 40px;
    text-align: right;
}

/* TIMES */
#times div {
    opacity: .6;
    line-height: 1.4;
}

/* CUBE */
.cube {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(3, auto);
    gap: 6px;
}


.sticker {
    width: 20px;
    height: 20px;
}



/* HINT */
.hint {
    position: absolute;
    bottom: 20px;
    opacity: .5;
    font-size: 14px;
}

#U { grid-column: 2 / 4; grid-row: 1; }
#L { grid-column: 1; grid-row: 2; }
#F { grid-column: 2; grid-row: 2; }
#R { grid-column: 3; grid-row: 2; }
#B { grid-column: 4; grid-row: 2; }
#D { grid-column: 2 / 4; grid-row: 3; }

.face {
    display: grid;
    grid-template-columns: repeat(2, 18px);
    grid-template-rows: repeat(2, 18px);
    gap: 2px;
}

.sticker {
    width: 18px;
    height: 18px;
    border-radius: 3px;
}

.section-title {
    font-size: 36px;
    margin-top: 20px;
}