
{% extends "base.html" %}

{% load static %}
{% load i18n %}
{% block extra_css%}
<link rel="stylesheet" href="{% static 'home/css/styles.css' %}">
{% endblock %}

{% block content %}
<main class="main-content">
    <h1 class="section-title">{% trans "What can you find here?" %}</h1>
    <div class="cards-wrapper">
        <div class="card card-education">
            <h2 class="card-title">{% trans "Education" %}</h2>
            <p class="card-desc">{% trans "Here you can learn how to assemble a Rubik's cube from scratch." %}</p>
            <div class="card-button" id="card-button-education" data-href="{% url 'education' %}">==&gt;</div>
        </div>
        <div class="card card-library">
            <h2 class="card-title">{% trans "Library" %}</h2>
            <p class="card-desc">{% trans "Here you will find a collection of all formulas." %}</p>
            <div class="card-button">==&gt;</div>
        </div>
        <div class="card card-timer">
            <h2 class="card-title">{% trans "Timer" %}</h2>
            <p class="card-desc">{% trans "Here you can measure the speed of your assembling." %}</p>
            <div class="card-button">==&gt;</div>
        </div>
        <div class="card card-stats">
            <h2 class="card-title">{% trans "Stats" %}</h2>
            <p class="card-desc">{% trans "Here you can track your stats." %}</p>
            <div class="card-button">==&gt;</div>
        </div>
    </div>
    <p class="footer-text">{% trans "Choose what you need and go ahead to conquer the heights!" %}</p>
</main>
<script src="{% static 'home/js/home.js' %}"></script>
{% endblock %}