body {
  background-color: #1a1a1a;
  color: white;
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
}

.main-container {
  display: flex;
  flex-direction: row;
  height: 100%;
  padding-top: 20px;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.title {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255,255,255);
  font-family: Inter, sans-serif;
  font-size: 36px;
  line-height: 36px;
  margin-bottom: 0;
  margin-top: 20px;
}

.profile-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 50px;
}

.profile-card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: 1100px;
  background: rgba(30, 0, 255, 0.5);
  border-radius: 25px;
  gap: 40px;
}

.info-section {
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: fit-content;
  gap: 100px;
}

.input-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 55px;
  width: 650px;
  border-radius: 12px;
  background: transparent;
  border: 2px solid #0048FF;
  color: #fff;
  padding: 5px;
}

.input-group{
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 20px;
}

.label {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 27px;
  background: rgba(32, 32, 32, 0);
  color: #256FC3;
  user-select: none;
}

.change-btn {
  background-color: #0048FF;
  border: none;
  border-radius: 5px;
  width: 100px;
  height: 40px;
  color: white;
  cursor: pointer;
  font-size: 20px;
  transition: background-color .5s ease;
}
.save-btn{
    background-color: #0048FF;
  border: none;
  border-radius: 5px;
  width: 100px;
  height: 40px;
  color: white;
  cursor: pointer;
  font-size: 20px;
  transition: background-color .5s ease;
}

.save-btn:hover{
  background-color: #00FF6F;
  transition: background-color .5s ease;
}

.sign-out-btn{
  background-color: #0048FF;
  border: none;
  width: 650PX;
  height: 55px;
  color: white;
  cursor: pointer;
  font-size: 20px;
  border-radius: 12px;
}

.change-btn:hover{
  background-color: #00FF6F;
  transition: background-color .5s ease;
}

.change-btn:active{
  background: #6a94fc;
}

.avatar {
  width: 300px;
  height: 300px;
  border-radius: 15px;
  background-color: #4076ff;
}

.custom-file-upload {
    display: inline-flex;
    align-items: center;
}

.custom-file-button {
    background-color: #0048FF;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

.custom-file-text {
    margin-left: 10px;
    color: #fff;
}