* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}





.container {
  display: flex;
  height: 100%;
  width: 100%;
}

.cont {
  width: 100%;
}

/* Sidebar */
.sidebar {
  display: flex;
  width: 340px;
  min-height: 100%;
  background: rgba(252, 46, 50, 0.5);
  flex-shrink: 0;
  flex-grow: 0;
}

.toc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: sticky;
  margin: 10px 0;
  top: 10px;
  width: 100%;
  height: fit-content;
  color: black;
}

.span-li{
  margin-bottom: 4px;
  line-height: 1.4;
  width: 100%;
  padding: 0 10px;
  transition: background-color .2s;
}

.span-li:hover{
  background-color: rgba(187, 59, 59, 0.9);
  transition: background-color .2s;
}

.span-li a{
  text-decoration: none;
  color: white;
  background-color: transparent;
  width: 100%;
  height: 100%;
}

