{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/navbar.css' %}">
{% block extra_css2 %}
{% endblock %}
{% endblock %}



{% block content %}
<div class="container">
    <aside class="sidebar">
        <div class="toc">
            <span id="introduction" class="span-li card-button" data-href="{% url 'course_2x2_def_introduction' %}"><a href="">{% trans "Introduction" %}</a></span>
            <span id="the-language-of-rotations" class="span-li card-button" data-href="{% url 'course_2x2_def_1' %}"><a href="">{% trans "The language of rotations" %}</a></span>
            <span id="the-first-side" class="span-li card-button" data-href="{% url 'course_2x2_def_2' %}"><a href="">{% trans "The first side" %}</a></span>
            <span id="setting-the-corners-of-the-second-layer" class="span-li card-button" data-href="{% url 'course_2x2_def_3' %}"><a href="">{% trans "Setting the corners of the second layer" %}</a></span>
            <span id="rotate-the-corners-of-the-second-layer" class="span-li card-button" data-href="{% url 'course_2x2_def_4' %}"><a href="">{% trans "Rotate the corners of the second layer" %}</a></span>
            <span id="the-cube-is-assembled" class="span-li card-button" data-href="{% url 'course_2x2_def_5' %}"><a href="">{% trans "The cube is assembled!" %}</a></span>
        </div>
    </aside>
    <div class="cont">
        {% block container %}
        {% endblock %}
    </div>
    
</div>

<script src="{% static 'js/navbar.js' %}"></script>
{% endblock %}
