* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    background-color: rgb(16, 16, 16);
    color: #ffffff;
    width: 100%;
    height: 100%;
    font-family: 'Inter', sans-serif;
}

.content{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Навбар */
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    height: 50px;
    background-color: #212121;
    width: 100%;
    text-decoration: none;
    padding-left: 20px;
}

.nav-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 32px;
    width: 600px;
    height: 50px;
    margin-left: 30px;
}

.nav-links {
    display: flex;
    flex-direction: row;
    gap: 32px;
    width: 600px;
    height: 24px;
}

.nav-link {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #ffffff;
    font-family: 'Inter', sans-serif;
    user-select: none;
}

.lang-switch {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
        background: none; 
    border: none; 
    padding: 0; 
    margin: 0;
    cursor: pointer; 
    font: inherit; 
    color: inherit;
}

.lang-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 37px;
    height: 27px;
    border: 2px solid;
    border-radius: 5px;

}

.spacer {
    max-width: 100%;
    height: 50px;
    width: 100%;
}

.account-text {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 287px;
    height: 50px;
}

.avatar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    margin-left: 20px;
}

.avatar-nav {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background: #ffffff;
    margin-right: 5px;
}

.a-button {
    user-select: none;
    text-decoration: none;
    color: #ffffff;
}