* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html{
    height: auto;
}


.container {
  display: flex;
  height: 100%;
  width: 100%;
}

.cont {
  width: 100%;
}

/* Sidebar */
.sidebar {
  display: flex;
  width: 340px;
  min-height: 100%;
  background: #c0484ac1;
  flex-shrink: 0;
  flex-grow: 0;
}

.toc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: sticky;
  margin: 10px 0;
  top: 10px;
  width: 100%;
  height: fit-content;
  color: black;
}

.span-li{
  margin-bottom: 4px;
  line-height: 1.4;
  width: 100%;
  padding: 0 10px;
  cursor: pointer;
  transition: background-color .2s;
}

.span-li:hover{
  background-color: rgba(187, 59, 59, 0.9);
  transition: background-color .2s;
}

.span-li a{
  text-decoration: none;
  color: white;
  background-color: transparent;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 250px;
  background:     #393939;
  border-radius: 15px;
  padding-bottom: 12px;
  cursor: pointer;
  border: none;
  transition: border .5s ease;
}

/* .card.playing {
  border: 1px solid #00ff6f;
  transition: border 1s ease;
} */

.card *{
  margin: 0;
  font-size: 14px;
  user-select: none;
  cursor: pointer;
}

.card p{
  font-size: 18px;
}


.card video{
  margin-bottom: 20px
}

.card span {
  text-align: center;
  color: white;
  display: block;
}

.instruction {
  display: flex;
  align-items: end;
  border-radius: 15px;
  border-color: rgb(0,0,0);
  color: white;
  text-align: center;
  margin-top: 8px;
}

.card img{
  cursor: auto;
  pointer-events: none;
  margin-bottom: 20px
}

#link-education{
    color: #c04848;
}

  .video-wrapper {
    border: 2px solid #ff1500;
    transition: border-color 0.3s ease;
  }


.nav-button{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 120px;
  background-color: rgba(187, 59, 59, 0.9);
  border-radius: 20px;
  cursor: pointer;
}

.nav-buttons{
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  height: fit-content;
  width: fit-content;
  gap: 20px;
}