/* Общие настройки */


/* Основной контент */
.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 60px;
    margin-top: 20px;
    padding-bottom: 10px;
}

.section-title {
    font-size: 36px;
    margin: 0;
}

.cards-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 376px;
    gap: 60px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    height: 384px;
    border-radius: 15px;
    padding-top: 25px;
    font-family: 'Inter', sans-serif;
}

.card-title {
    text-align: center;
    margin-bottom: 30px;
    height: 44px;
    font-size: 36px;
    color: rgb(0, 0, 0);
}

.card-desc {
    width: 170px;
    height: 185px;
    font-size: 24px;
    text-align: left;
    line-height: 30px;
    color: rgb(0, 0, 0);
    margin-bottom: 30px;
}

.card-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 175px;
    height: 40px;
    border-radius: 22px;
    color: rgb(0, 0, 0);
    font-size: 36px;
    line-height: normal;
    font-family: 'Inter', sans-serif;
    cursor: pointer;
    user-select: none;
    transform-style: preserve-3d;
    transition: transform 0.1s ease-out;
}

/* Цвета карточек */
.card-education {
    background: #C0484A;
}
.card-education .card-button {
    background: #F60004;
}

.card-library {
    background: #BAC048;
}
.card-library .card-button {
    background: #EAFF00;
}

.card-timer {
    background: #48ACC0;
}
.card-timer .card-button {
    background: #00CCFF;
}

.card-stats {
    background: #8A48C0;
}
.card-stats .card-button {
    background: #8C00FF;
}

.footer-text {
    font-size: 36px;
    text-align: center;
    margin: 0;
}


.card {
  box-shadow: 0 10px 30px rgba(0,0,0,0.3);
  transition: transform 0.1s, box-shadow 0.1s;
  align-items: center;
}

.card:hover {
  box-shadow: 0 20px 40px rgba(0,0,0,0.4);
}

.card *{
    user-select: none;
}


.card-button {
  position: relative;
  overflow: hidden;

  border: none;

  background: linear-gradient(135deg, #6366f1, #8b5cf6);
  font-weight: 600;

  cursor: pointer;
}

/* сам блик */
.card-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: -150%;

  width: 50%;
  height: 100%;

  background: linear-gradient(
    120deg,
    transparent,
    rgba(255, 255, 255, 0.5),
    transparent
  );

  transform: skewX(-20deg);
}

/* анимация при наведении */
.card-button:hover::before {
  left: 150%;
  transition: left 0.6s ease;
}

#link-home{
    color: #48c072;
}