{% extends 'navbar.html' %}
{% load static %}
{% load i18n %}

{% block extra_css2 %}
<link rel="stylesheet" href="{% static 'education/css/course_2x2_def_1.css' %}">
{% endblock %}
{% block container %}
    <main class="content1">
        <h1>{% trans 'The language of rotations' %}</h1>
        <div class="grid">
            <!-- Row 1 -->
            <div class="row">
                <div class=" card video-wrapper"><video muted src="{% static 'education/videos/1/1_U.webm' %}" class="cube-face"></video><p>U</p><span class="vid-label">{% trans "Turn the upper face clockwise" %}</span></div>
                <div class=" card video-wrapper"><video muted src="{% static 'education/videos/1/1_Ui.webm' %}" class="cube-face"></video><p>U'</p><span class="vid-label">{% trans "Turn the upper face counterclockwise" %}</span></div>
                <div class=" card video-wrapper"><video muted src="{% static 'education/videos/1/1_D.webm' %}" class="cube-face"></video><p>D</p><span class="vid-label">{% trans "Turn the bottom face clockwise" %}</span></div>
            </div>
            <!-- Row 2 -->
            <div class="row">
                <div class=" card video-wrapper"><video muted src="{% static 'education/videos/1/1_Di.webm' %}" class="cube-face"></video><p>D'</p><span class="vid-label">{% trans "Turn the bottom face counterclockwise" %}</span></div>
                <div class=" card video-wrapper"><video muted src="{% static 'education/videos/1/1_R.webm' %}" class="cube-face"></video><p>R</p><span class="vid-label">{% trans "Turn the right side clockwise" %}</span></div>
                <div class=" card video-wrapper"><video muted src="{% static 'education/videos/1/1_Ri.webm' %}" class="cube-face"></video><p>R'</p><span class="vid-label">{% trans "Turn the right face counterclockwise" %}</span></div>
            </div>
            <!-- Row 3 -->
            <div class="row">
                <div class=" card video-wrapper"><video muted src="{% static 'education/videos/1/1_L.webm' %}" class="cube-face"></video><p>L</p><span class="vid-label">{% trans "Turn the left side clockwise" %}</span></div>
                <div class=" card video-wrapper"><video muted src="{% static 'education/videos/1/1_Li.webm' %}" class="cube-face"></video><p>L'</p><span class="vid-label">{% trans "Turn the left face counterclockwise" %}</span></div>
                <div class=" card video-wrapper"><video muted src="{% static 'education/videos/1/1_F.webm' %}" class="cube-face"></video><p>F</p><span class="vid-label">{% trans "Turn the front face clockwise" %}</span></div>
            </div>
            <!-- Row 4 -->
            <div class="row">
                <div class=" card video-wrapper"><video muted src="{% static 'education/videos/1/1_Fi.webm' %}" class="cube-face"></video><p>F'</p><span class="vid-label">{% trans "Turn the front face counterclockwise" %}</span></div>
                <div class=" card video-wrapper"><video muted src="{% static 'education/videos/1/1_B.webm' %}" class="cube-face"></video><p>B</p><span class="vid-label">{% trans "Turn the back face clockwise" %}</span></div>
                <div class=" card video-wrapper"><video muted src="{% static 'education/videos/1/1_Bi.webm' %}" class="cube-face"></video><p>B'</p><span class="vid-label">{% trans "Turn the back face counterclockwise" %}</span></div>
            </div>

            <div class="row">
                <div class=" card video-wrapper cool-card"><video muted src="{% static 'education/videos/1/1_y.webm' %}" class="cube-face"></video><p>y</p><span class="vid-label">{% trans "The whole cube rotates clockwise in the horizontal plane (F turns into L)" %}</span></div>
                <div class=" card video-wrapper cool-card"><video muted src="{% static 'education/videos/1/1_yi.webm' %}" class="cube-face"></video><p>y'</p><span class="vid-label">{% trans "The whole cube rotates counterclockwise in the horizontal plane (F turns into R)" %}</span></div>
            </div>

        </div>
        <span class="note">{% trans "If there is a number 2 next to the letter, it means 2 rotations." %}</span>
        <div class="nav-buttons">
            <span id="the-cube-is-assembled" class="nav-button back card-button" data-href="{% url 'course_2x2_def_introduction' %}">{% trans "Back" %}</span>
            <span id="the-cube-is-assembled" class="nav-button next card-button" data-href="{% url 'course_2x2_def_2' %}">{% trans "Next" %}</span>
        </div>
    </main>
    <script src="{% static 'education/js/course_2x2_def_1.js' %}"></script>
{% endblock %}
