{% extends 'navbar.html' %}
{% load static %}
{% load i18n %}
{% block extra_css2 %}
<link rel="stylesheet" href="{% static 'education/css/course_2x2_def_4.css' %}">
{% endblock %}

{% block container %}
<div class="main-container">
    <div class="tutorial-content">
      <p class="title">{% trans "Rotate the corners of the second layer" %}</p>

      <span class="text">{% trans "At this stage, you need to expand the 4 corners on the top layer to assemble the entire cube. We take the cube in our hands so that the white side is on top." %}</span>

      <span class="text">{% trans "We will rotate the angle that is located from the bottom to our right. The moment the corner gets up correctly, the rest of the cube will collapse. Don't worry: as soon as all 4 corners are positioned correctly, the cube will reassemble." %}</span>
      <span class="text">{% trans "В зависимости от разворота уголка, нужно будет использовать одну из трёх формул:"%}</span>
      <div class="flex-row cards-row">
        <div class="card video-wrapper">
          <video src="{% static 'education/videos/4/4_2(RURiUi).webm' %}" class="cube-face"></video>
          <p>2(RUR'U')</p>
          <span class="instruction">{% trans "The yellow color looks to the right side" %}</span>
        </div>
        <div class="card video-wrapper">
          <video src="{% static 'education/videos/4/4_4(RURiUi).webm' %}" class="cube-face"></video>
          <p>4(RUR'U')</p>
          <span class="instruction">{% trans "The yellow color is looking at us" %}</span>
        </div>
        <div class="card">
          <img src="{% static 'education/images/4_solved_1.png' %}" class="cube-face"></img>
          <p>&mdash;</p>
          <span class="instruction">{% trans "The corner is positioned correctly" %}</span>
        </div>
      </div>

      <span class="text">{% trans "Next, you need to move the bottom edge to put the next corner with yellow color from the bottom right. We do formules again until the corner gets up correctly. We do this until all 4 corners are positioned correctly and the cube is fully assembled." %}</span>

      <span class="text">{% trans "At this stage, a situation may arise that causes many to abandon the build. It may happen that all four corners unfolded correctly, but the first 2 layers collapsed. It is important not to move the cube in your hands and keep it in the same position." %}</span>

      <span class="text">{% trans "We need to keep doing formules. After a certain number of bangs, the first two layers will come together, but there will be one unrolled corner. This is an impossible situation, and it only means that this corner unfolded mechanically on the cube. That is, you just need to take it with your fingers and physically turn it so that it stands up correctly." %}</span>

      <div class="nav-buttons">
        <span id="the-cube-is-assembled" class="nav-button back card-button" data-href="{% url 'course_2x2_def_3' %}">{% trans "Back" %}</span>
        <span id="the-cube-is-assembled" class="nav-button next card-button" data-href="{% url 'course_2x2_def_5' %}">{% trans "Next" %}</span>
      </div>
    </div>
</div>
{% endblock %}